@model IEnumerable<Bug_Tracker.Models.Ticket>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<form asp-action="Index" method="get" class="row row-cols-lg-auto row-cols-md-auto align-items-center">
    <div class="col-12">
        <label class="form-label">Search</label>
        <input type="text" name="searchString" value="@ViewData["SearchString"]"/>
    </div>
    <div class="col-12">
        <label class="form-label">Status</label>
        <select name="statusFilter" class="form-select-sm">
            <option>any</option>
            @foreach(var item in Html.GetEnumSelectList<Status>())
            {
                if (ViewData["StatusFilter"]?.ToString() == item.Text)
                {
                    <option selected>@item.Text</option>
                }
                else
                {
                    <option>@item.Text</option>
                }
            }
        </select>
        <label class="form-label">Priority</label>
        <select name="priorityFilter" class="form-select-sm">
            <option>any</option>
            @foreach(var item in Html.GetEnumSelectList<Priority>())
            {
                if (ViewData["PriorityFilter"]?.ToString() == item.Text)
                {
                    <option selected>@item.Text</option>
                }
                else
                {
                    <option>@item.Text</option>
                }
            }
        </select>
        <label class="form-label">Project</label>
        <select name="projectFilter" class="form-select-sm">
            <option>any</option>
            @foreach(var item in (List<string>)ViewData["Projects"])
            {
                if (ViewData["ProjectFilter"]?.ToString() == item)
                {
                    <option selected>@item</option>
                }
                else
                {
                    <option>@item</option>
                }
            }
        </select>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Search</button>
        &nbsp
        <a asp-action="Index" class="btn btn-light">Clear search</a>
    </div>
</form>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParam"]"     asp-route-searchString="@ViewData["SearchString"]" asp-route-statusFilter="@ViewData["StatusFilter"]" asp-route-priorityFilter="@ViewData["PriorityFilter"]">
                    @Html.DisplayNameFor(model => model.Title)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PrioritySortParam"]"     asp-route-searchString="@ViewData["SearchString"]" asp-route-statusFilter="@ViewData["StatusFilter"]" asp-route-priorityFilter="@ViewData["PriorityFilter"]">
                    @Html.DisplayNameFor(model => model.Priority)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParam"]"     asp-route-searchString="@ViewData["SearchString"]" asp-route-statusFilter="@ViewData["StatusFilter"]" asp-route-priorityFilter="@ViewData["PriorityFilter"]">
                    @Html.DisplayNameFor(model => model.Date)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-projectFilter="@ViewData["ProjectFilter"]"     asp-route-searchString="@ViewData["SearchString"]" asp-route-statusFilter="@ViewData["StatusFilter"]" asp-route-priorityFilter="@ViewData["PriorityFilter"]">
                    @Html.DisplayNameFor(model => model.Project)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Title)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @if((int)ViewData["CurrentPage"] == 1)
    {
        <button class="btn btn-light" disabled>Previous Page</button>
    }
    else
    {
        <a asp-action="Index" asp-route-page="@((int)ViewData["CurrentPage"] - 1)" class="btn btn-light">Previous Page</a>
    }
    &nbsp;
    @if((int)ViewData["CurrentPage"] == (int)ViewData["Pages"])
    {
        <button class="btn btn-light" disabled>Next Page</button>
    }
    else
    {
        <a asp-action="Index" asp-route-page="@((int)ViewData["CurrentPage"] + 1)" class="btn btn-light">Next Page</a>
    }
    &nbsp;
    &nbsp;
    Page @ViewData["CurrentPage"] of @ViewData["Pages"]
</div>
