@model IEnumerable<Bug_Tracker.Models.Comment>

<h2>@ViewData["TicketTitle"]</h2>
<br />
<br />
<p>
    <a asp-action="Create" asp-route-ticketId="@ViewData["TicketId"]" class="btn btn-primary">Create New</a>
</p>
<h4>Comments</h4>

<table class="table">
    @*<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
        </tr>
    </thead>*@
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-ticketId="@ViewData["TicketId"]">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" asp-route-ticketId="@ViewData["TicketId"]">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
